.wrapper {
  width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.columns {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 20px;
  
  &--internal {
    align-items: flex-start;
  }
}

.content {
  width: 875px;
}

.more {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: normal;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  .transition();
  
  &:hover,
  &:active {
    color: @red;
    .transition();
  }
}
